<launch>
  <arg name="play_bag" default="true" />
  <arg name="node_start_delay" default="2.0"/>
  <arg name="bag_file" default="/root/bags/carla_bag_ros1/loop_onceupdate.bag"/>
  <arg name="param_file" default="$(find ov2slam)/parameters_files/accurate/carla/carla_mono.yaml"/>
  <arg name="rate" default="0.03"/>
  <!-- RUN bag file-->
  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -r $(arg rate) $(arg bag_file)"/>
  <!-- <node name="player" pkg="rosbag" type="play" args="$(arg bag_file)" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/> -->

  <!--Nodelet launch-->
  <!-- <node pkg="nodelet" type="nodelet" args="manager" name="standalone_nodelet" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="depth_back" args="load depth_image_proc/point_cloud_xyzrgb standalone_nodelet no-bond">      
    <remap from="rgb/camera_info" to="/carla/ego_vehicle/rgb_back/camera_info"/>
    <remap from="rgb/image_rect_color" to="/carla/ego_vehicle/rgb_back/image"/>
    <remap from="depth_registered/image_rect" to="/carla/ego_vehicle/depth_back2/image"/>
    <remap from="depth_registered/points" to="/pcd_back/points"/>
  </node> -->

  <!-- <node name="publisher_node" pkg="ov2slam" type="my_publisher" output="screen"/> -->
  <node name="test" pkg="ov2slam" type="talker.py" output="screen"/>
  <!-- <node name="player" pkg="rosbag" type="play" output="screen" args="-r 1.0 clock $(arg bag_file)" if="$(arg play_bag)"/> -->
  
  <arg name="voxel_size" default="0.05"/>
  <arg name="dist" default="5.0"/>
  <arg name="ply_save_file" default="/root/bags/cow_eth_data/output.ply"/>

  <node name="voxblox_node" pkg="voxblox_ros" type="tsdf_server" output="screen" args="-alsologtostderr" clear_params="true">
    <!--Topics-->
    <remap from="transform" to="/tf" />
    <remap from="pointcloud" to="/ego_vehicle_pcd"/>
    <param name="pointcloud_queue_size" value="10"/>
    <param name="color_mode" value="color" />
    <param name="use_tf_transforms" value="true" />

    <param name="use_freespace_pointcloud" value="false" />
    <param name="tsdf_voxel_size" value="$(arg voxel_size)" />
    <param name="tsdf_voxels_per_side" value="16" />
    <param name="voxel_carving_enabled" value="false" />
    <param name="update_mesh_every_n_sec" value="4.0" />
    
    <param name="min_time_between_msgs_sec" value="0.0" />
    <param name="max_ray_length_m" value="20.0"/>
    <param name="min_ray_length_m" value="1.5"/>
    
    <param name="use_const_weight" value="false" />
    <param name="allow_clear" value="false" />
    <param name="verbose" value="true" />
    <rosparam file="$(find ov2slam)/cfg/carla.yaml"/>

    <!--General Params-->
    <param name="method" value="fast" />
    <param name="max_consecutive_ray_collisions" value="5"/>
    <param name="start_voxel_subsampling_factor" value="5"/>

    <!--ESDF Parameters-->
    <param name="esdf_max_distance_m" value="$(arg dist)"/>
    <param name="esdf_default_distance_m" value="$(arg dist)"/>
    <param name="clear_sphere_radius" value="$(arg dist)"/>
    <param name="occupied_sphere_radius" value="15.0"/>

    <!--Outputs-->
    <param name="output_mesh_as_pointcloud" value="false"/>
    <param name="slice_level" value="3.0"/>
    <param name="mesh_filename" value="$(arg ply_save_file)" />
  </node>
  <!-- <node name="ov2slam_node" pkg="ov2slam" type="ov2slam_node" output="screen" args="$(arg param_file)"/> -->

</launch>
