<launch>
  <arg name="play_bag" default="true" />
  <arg name="bag_file" default="/root/bags/carla_bag_ros1/carla_bag_latest.bag"/>
  <arg name="param_file" default="$(find ov2slam)/parameters_files/accurate/carla/carla_mono.yaml"/>

  <!-- RUN bag file-->
  <node name="player" pkg="rosbag" type="play" output="screen" args="-r 1.0 --clock $(arg bag_file)" if="$(arg play_bag)"/>
  
  <!--Node-->
  <node name="ov2slam_node" pkg="ov2slam" type="ov2slam_node" output="screen" args="$(arg param_file)">
  </node>

</launch>
