<launch>
  <arg name="play_bag" default="true" />
  <arg name="node_start_delay" default="2.0"/>
  <arg name="bag_file" default="/root/bags/carla_bag_ros1/loop_once.bag"/>
  <arg name="param_file" default="$(find ov2slam)/parameters_files/accurate/carla/carla_mono.yaml"/>

  <!-- RUN bag file-->
  <node name="player" pkg="rosbag" type="play" args="$(arg bag_file)" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>

  <!--Nodelet launch-->
  <!-- <node pkg="nodelet" type="nodelet" args="manager" name="standalone_nodelet" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="depth_back" args="load depth_image_proc/point_cloud_xyzrgb standalone_nodelet no-bond">      
    <remap from="rgb/camera_info" to="/carla/ego_vehicle/rgb_back/camera_info"/>
    <remap from="rgb/image_rect_color" to="/carla/ego_vehicle/rgb_back/image"/>
    <remap from="depth_registered/image_rect" to="/carla/ego_vehicle/depth_back2/image"/>
    <remap from="depth_registered/points" to="/pcd_back/points"/>
  </node> -->

  <!-- <node name="publisher_node" pkg="ov2slam" type="my_publisher" output="screen"/> -->
  <node name="test" pkg="ov2slam" type="talker.py" output="screen"/>
  <!-- <node name="player" pkg="rosbag" type="play" output="screen" args="-r 1.0 clock $(arg bag_file)" if="$(arg play_bag)"/> -->
  
  <!-- <node name="ov2slam_node" pkg="ov2slam" type="ov2slam_node" output="screen" args="$(arg param_file)"/> -->

</launch>
